#legenda
{
    position:absolute;
	left: 640px;
	top:2px;
	height:0px;
	
}

#slider{
    width:80px;
}
.selections{

    font-weight:bold;
    font-size:18px;
    float:left; 
    color:#1c94c4;
    margin: 1px;
}

.insideOptions{
    width: 135px;
    margin: 2px;
    margin-top: 15px;
    float: left;
}
#power {
     
    font-weight:bold;
    font-size:16px;
    color:#1c94c4;

    
}
#insideTrapezoid{
    width:420px;
    height: 80px;
    margin-left: 45px;
}
#trapezoid {
	
    width: 510px;
height: 54px;

/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);*/
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
/*opacity: 0.8;*/
border: 9px #888888 solid;

/*background-color: #ffffff;*/
background-color: rgba(255,255,255,0.8);

-webkit-border-bottom-left-radius: 80px;
-moz-border-radius-bottomleft: 80px;
border-bottom-left-radius: 80px;

-webkit-border-bottom-right-radius: 80px;
-moz-border-radius-bottomright: 80px;
border-bottom-right-radius: 80px;

-moz-box-shadow: -3px 3px 11px 0px #575757;
-webkit-box-shadow: -3px 3px 11px 0px #575757;
box-shadow: -3px 3px 11px 0px #575757;

    
}
#image{
position:absolute;
opacity:0.4;
z-index:100;
}

.ui-menu { position: absolute; width: 150px; }
.ui-button {
    width: 155px;
}
.labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;     
     border: 2px solid black;
     white-space: nowrap;
   }

#TextoCor
{
	margin-right: 25px;
	margin-left: 10px;
}
.legendaImagem
{
	float:left;
	height: 16px;
	margin-right: 20px;
	margin-top: 10px;

}
.legendas
{

	
	width: 260px;
	height: 16px;
}
.escritaLegenda
{

	font: bold 14px
 "helvetica", sans-serif;
 color: #FFFFFF;
}
#dialogBackground {
    position:absolute;
	left: 320px;
	top:2px;
	height:0px;
}



#radio
{

}
#xmldisplay
{

	width: 500px;
	height:500px;
}
.ui-accordion-header  {  

    text-align: center;  

} 
#square{
    position:absolute;
    width: 0%;
    height:0px;
    background-color:#808080;
    z-index:100;
    opacity:0.7;
}
#helpimage{
   background-color:#f00;

   position:absolute;
   top:50%;
   left:50%;
   width:0%;
   height:0%;
   margin-top:-305px;
   margin-left:-327px;
   opacity:1.0;
   z-index:101
 
}
button
{
	width:158px;
	padding:0px;
	margin: 0px;
	
}

.dbButtons
{
	width:80px;
	padding:0px;
	margin: 0px;
}

#accordion
{
	
	float:right;
	width: 160px;
}
#techAccordion
{
	
	float:right;
	width: 160px;
	overflow: hidden;
}
#controls
{

	width:160px;


}
#insertionBackground
{
	width:158px;
}
#powerbackground
{
	width:158px;
	overflow: hidden;
}

#scenarioBackground
{
	width:158px;
}
#technologyBackground
{
	width:158px;
}




#topRight{

	height: 840px;
	width:  420px;

	overflow:scroll;
	border-style: solid;
    border-width: 2px;
	margin-left: auto;
    margin-right: auto;	
	background-color: #FFFFFF
}

html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 800px;
      }

html
{
	font-size: 80%;
}

#wrapper { position: relative; height:100% }
#over_map { position: absolute; top: 1px; z-index: 99; }

