#legenda
{
    position:absolute;
	left: 640px;
	top:2px;
	height:0px;
	
}
#image{
position:absolute;
opacity:0.4;
z-index:100;
}
.ui-menu { 
    width: 150px; 

}

#TextoCor
{
	margin-right: 25px;
	margin-left: 10px;
}
.legendaImagem
{
	float:left;
	height: 16px;
	margin-right: 20px;
	margin-top: 10px;

}
.legendas
{

	
	width: 260px;
	height: 16px;
}
.escritaLegenda
{

	font: bold 14px
 "helvetica", sans-serif;
 color: #FFFFFF;
}
#dialogBackground {
    position:absolute;
	left: 320px;
	top:2px;
	height:0px;
}



#radio
{

}
#xmldisplay
{

	width: 500px;
	height:500px;
}
.ui-accordion-header  {  

    text-align: center;  

} 
#square{
    position:absolute;
    width: 0%;
    height:0px;
    background-color:#808080;
    z-index:100;
    opacity:0.7;
}
#helpimage{
   background-color:#f00;

   position:absolute;
   top:50%;
   left:50%;
   width:0%;
   height:0%;
   margin-top:-305px;
   margin-left:-327px;
   opacity:1.0;
   z-index:101
 
}
button
{
	width:158px;
	padding:0px;
	margin: 0px;
	
}

.dbButtons
{
	width:80px;
	padding:0px;
	margin: 0px;
}

#accordion
{
	
	float:right;
	width: 160px;
}
#techAccordion
{
	
	float:right;
	width: 160px;
	overflow: hidden;
}
#controls
{

	width:160px;


}
#insertionBackground
{
	width:158px;
}
#powerbackground
{
	width:158px;
	overflow: hidden;
}

#scenarioBackground
{
	width:158px;
}
#technologyBackground
{
	width:158px;
}




#topRight{

	height: 840px;
	width:  420px;

	overflow:scroll;
	border-style: solid;
    border-width: 2px;
	margin-left: auto;
    margin-right: auto;	
	background-color: #FFFFFF
}

html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 800px;
      }

html
{
	font-size: 80%;
}

#wrapper { position: relative; height:100% }
#over_map { position: absolute; top: 1px; z-index: 99; }

